.why-choose-us-section {
  background: #26026e;
  background: linear-gradient(to right, #26026e, #b14ae0);
  padding: 50px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.sub-card {
  margin-bottom: 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.icon {
  text-align: left;
  margin-bottom: 20px;
}

.icon img {
  width: 80px;
}

.card-content {
  padding-left: 10px;
}
